body
{
  font-size: 18px;
  max-width: 1500px;
  margin: 0 auto;
  }

nav
   a
{
  color: #018ad2;  
  text-decoration: none;
}
   a:hover
   {
     color: #c00;
   }

   footer
   a
   {
    color: #018ad2; 
    text-decoration: none;
}
   a:hover
   {
     color: #c00;
   }

   ul 
   {
    padding: 0;
    margin-left: 20px; 
   }
   
    
     p
   {
    margin: 16px;
    padding: 0;
    margin-left: 0; 
   } 
    
 button
      {
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
     }

  iframe
  {
    border: 1px dashed red; 
  }































